.markdown-body {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 200px;
    max-width: 980px;
    /*padding: 45px;*/
}

.markdown-body h2 {
    margin-bottom: 6px;
    margin-top: 20px;
}

.markdown-body p {
    margin-bottom: 0px;
}